<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edcccd.blog.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.edcccd.blog.entity.Comment">
    <!--@mbg.generated-->
    <!--@Table `comment`-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="target_type" jdbcType="VARCHAR" property="targetType" />
    <result column="target_id" jdbcType="CHAR" property="targetId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="txt" jdbcType="VARCHAR" property="txt" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="deleted" jdbcType="CHAR" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, pid, target_type, target_id, user_id, txt, creator_id, creator_name, create_time, 
    `rank`, deleted
  </sql>
</mapper>